Program.main({ });
********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > add
Please enter the ID: 
101
Please enter the name of the product: Rtx 3060
Product 101, Rtx 3060 has been ADDED
********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > print

 Stefan Allen's Stock List
 ====================

 ID 101: Rtx 3060 stock level: 0

Stock list printed
********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > remove
Please enter the ID
101
Removing the product

Product Removed Rtx 3060
********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > print

 Stefan Allen's Stock List
 ====================


Stock list printed
********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > 