********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > print

 Stefan Allen's Stock List
 ====================

 ID 102: RTX 3060 TI stock level: 0
 ID 103: RTX 3070 stock level: 0
 ID 104: RTX 3070 TI stock level: 0
 ID 105: RTX 3080 stock level: 0
 ID 106: RTX 3080 TI stock level: 0
 ID 107: RTX 3090 stock level: 0
 ID 108: RTX 3090 TI stock level: 0
 ID 109: RTX 6000 stock level: 0
 ID 110: RTX 8000 stock level: 0

Stock list printed
********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > buy
Buying a Product

Please Enter a Product ID > 
102
Please Enter the Amount to be Bought > 
10
Brought 10 of RTX 3060 TI

 Stefan Allen's Stock List
 ====================

 ID 102: RTX 3060 TI stock level: 10
 ID 103: RTX 3070 stock level: 0
 ID 104: RTX 3070 TI stock level: 0
 ID 105: RTX 3080 stock level: 0
 ID 106: RTX 3080 TI stock level: 0
 ID 107: RTX 3090 stock level: 0
 ID 108: RTX 3090 TI stock level: 0
 ID 109: RTX 6000 stock level: 0
 ID 110: RTX 8000 stock level: 0

Bought 10 of ID 102: RTX 3060 TI
********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > sell
Please Enter a Product ID 
102
Enter Amount to sell 
5
Sold 5 of RTX 3060 TI

 Stefan Allen's Stock List
 ====================

 ID 102: RTX 3060 TI stock level: 5
 ID 103: RTX 3070 stock level: 0
 ID 104: RTX 3070 TI stock level: 0
 ID 105: RTX 3080 stock level: 0
 ID 106: RTX 3080 TI stock level: 0
 ID 107: RTX 3090 stock level: 0
 ID 108: RTX 3090 TI stock level: 0
 ID 109: RTX 6000 stock level: 0
 ID 110: RTX 8000 stock level: 0

Sold 5 of ID 102: RTX 3060 TI
********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > print

 Stefan Allen's Stock List
 ====================

 ID 102: RTX 3060 TI stock level: 5
 ID 103: RTX 3070 stock level: 0
 ID 104: RTX 3070 TI stock level: 0
 ID 105: RTX 3080 stock level: 0
 ID 106: RTX 3080 TI stock level: 0
 ID 107: RTX 3090 stock level: 0
 ID 108: RTX 3090 TI stock level: 0
 ID 109: RTX 6000 stock level: 0
 ID 110: RTX 8000 stock level: 0

Stock list printed
********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > search
Please Enter a Product ID 
105
Product found: 105: RTX 3080
********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > low stock

 Stefan Allen's Stock List
 ====================

 ID 103: RTX 3070 stock level: 0
 ID 104: RTX 3070 TI stock level: 0
 ID 105: RTX 3080 stock level: 0
 ID 106: RTX 3080 TI stock level: 0
 ID 107: RTX 3090 stock level: 0
 ID 108: RTX 3090 TI stock level: 0
 ID 109: RTX 6000 stock level: 0
 ID 110: RTX 8000 stock level: 0
********************************
  App21-04: Stock Application 
      by Stefan Allen
********************************

    Print:      Print all products
    Quit:       Quit the program
    Add:        Add a new product
    Remove:     Remove an old product
    Buy:        Buy a product
    Sell:       Sell a product
    Search:     Find a product
    Low stock:  Restock product
    Restock:    Restock a product

Please enter your choice > quit
